<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vbh.virtualboathouse"
    android:theme="@android:style/Theme.Holo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.vbh.virtualboathouse.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vbh.virtualboathouse.LaunchActivity" />
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.SplashscreenActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_splashscreenactivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vbh.virtualboathouse.LaunchActivity" />
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.PickDistTimeActivity"
            android:label="@string/title_activity_pick_dist_time" >
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.PickNumBoatsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.DisplayTimersActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_display_timers"
            android:parentActivityName="com.vbh.virtualboathouse.PickNumBoatsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vbh.virtualboathouse.MainActivity" />
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.CountdownActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_countdown"
            android:parentActivityName="com.vbh.virtualboathouse.PickDistTimeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vbh.virtualboathouse.PickDistTimeActivity" />
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.ChangeLineupsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_change_linups" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vbh.virtualboathouse.Splashscreenactivity" />
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.PickBoatsActivity"
            android:label="@string/title_activity_pick_boats" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vbh.virtualboathouse.CrewSelectorActivity" />
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.CrewSelectorActivity"
            android:label="@string/title_activity_crew_selector"
            android:parentActivityName="com.vbh.virtualboathouse.SplashscreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vbh.virtualboathouse.Splashscreenactivity" />
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.PickNewPieceActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_pick_new_piece" >
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.ChangeLineupsList"
            android:label="@string/title_activity_change_linups" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vbh.virtualboathouse.Splashscreenactivity" />
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.PickTypeOfSwap"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_pick_type_of_swap"
            android:parentActivityName="com.vbh.virtualboathouse.CrewSelectorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vbh.virtualboathouse.CrewSelectorActivity" />
        </activity>
        <activity
            android:name="com.vbh.virtualboathouse.PracticeViewActivity"
            android:label="@string/title_activity_practice_view" >
        </activity>
    </application>

</manifest>
